@model LMS.UI.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Add New User";
}

<div class="mainContent">
    <div class="subContent">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("Create", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            
            <hr />
            @Html.ValidationSummary("", new { @class = "text-error" })
            <div class="form-group row">
                @*@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label text-right" })*@
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control centerInput", placeholder = "First Name" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @*@Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label text-right" })*@
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control centerInput", placeholder = "Last Name" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control centerInput", placeholder="Email" })
                </div>
            </div>
            <div class="form-group row">
                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control centerInput", placeholder = "Password" })
                </div>
            </div>
            <div class="form-group row">
                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control centerInput", placeholder = "Confirm Password" })
                </div>
            </div>
            <div class="form-group row">
                
                <div class="col-md-12">
                    @foreach (var item in (SelectList)ViewBag.RoleId)
                {
                        <input type="checkbox" name="SelectedRoles" value="@item.Value" class="checkbox-inline" />
                        @Html.Label(item.Value, new { @class = "control-label" })
                    }
                </div>
            </div>
            <div class="btn-wrapper">
                <div class="text-center">
                    <input type="submit" class="btn btn-default" value="Add User" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
